@import "tailwindcss";

:root {
  --blue: #0328ee;
  --white: #ffffff;
  --bg: #010725;
  --dark-blue: #010d50;
}

body {
  background: var(--bg);
  color: var(--white);
}

/* Ajoute ceci dans ton fichier CSS global, par exemple styles/globals.css */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}